
ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
 li { margin: 5px; padding: 5px; width: 150px; }

/* tile size */ 
ts{ 

} 
/*boarder background */ 
bb{ 
background: url("img/bonusTiles");
} 
2xl { 
background: url("img/bonusTiles/european-longest-words-double-letter-score.png");
} 
3xl {
background: url("img/bonusTiles/european-longest-words-triple-word-score1.png");
}
2xw {
background: url("img/bonusTiles/european-longest-words-double-word-score.png");
}
3xw {
background: url("img/bonusTiles/european-longest-words-triple-letter-score.png");
}