/*#dialog label, #dialog input { display:block; }
  #dialog label { margin-top: 0.5em; }
  #dialog input, #dialog textarea { width: 95%; }
  #tabs { margin-top: 1em; }
  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  #add_tab { cursor: pointer; }
ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
 li { margin: 5px; padding: 5px; width: 150px; }*/
table{ 
} 
input {
width:55px;
border: 1px solid #999;
height: 25px;
text-align: center;
margin: 0 auto;
margin-top: 10px;

}
input[type=button] {
background: #D3D3D3;
}

.cnt{
display: table;
margin: 0 auto;
//text-align: center;
}
td{ 
border: 1px solid grey;
}
/* tile size */ 
.ts{ 
height: 70px; width: 70px;
} 
/*boarder background */ 
.bb{ 
background: url("img/scrabbleboard.jpg");
background-size: 70px 70px;
background-repeat: no-repeat;
background-position: center;
} 
.x2l {
background: url("img/bonusTiles/european-longest-words-double-letter-score.png");
background-size: 70px 70px;
background-repeat: no-repeat;
background-position: center;
} 
.x3l {
background: url("img/bonusTiles/european-longest-words-triple-word-score1.png");
background-size: 70px 70px;
background-repeat: no-repeat;
background-position: center; 
}
.x2w {
background: url("img/bonusTiles/european-longest-words-double-word-score.png");
background-size: 70px 70px;
background-repeat: no-repeat;
background-position: center; 
}
.x3w {
background: url("img/bonusTiles/european-longest-words-triple-letter-score.png");
background-size: 70px 70px;
background-repeat: no-repeat;
background-position: center; 
}
#rack {
margin-top: 10em;
height: 6em;
width: 30em;
border: 1px solid grey;
background: url("img/rack.png");
background-size: 30em 6em;
background-repeat: no-repeat;
//text-align: center ;
}
#A{background: url("img/Scrabble_Tiles/Scrabble_Tile_A.jpg");}
#B{background: url("img/Scrabble_Tiles/Scrabble_Tile_B.jpg");}
#C{background: url("img/Scrabble_Tiles/Scrabble_Tile_C.jpg");}
#D{background: url("img/Scrabble_Tiles/Scrabble_Tile_D.jpg");}
#E{background: url("img/Scrabble_Tiles/Scrabble_Tile_E.jpg");}
#F{background: url("img/Scrabble_Tiles/Scrabble_Tile_F.jpg");}
#G{background: url("img/Scrabble_Tiles/Scrabble_Tile_G.jpg");}
#H{background: url("img/Scrabble_Tiles/Scrabble_Tile_H.jpg");}
#I{background: url("img/Scrabble_Tiles/Scrabble_Tile_I.jpg");}
#J{background: url("img/Scrabble_Tiles/Scrabble_Tile_J.jpg");}
#K{background: url("img/Scrabble_Tiles/Scrabble_Tile_K.jpg");}
#L{background: url("img/Scrabble_Tiles/Scrabble_Tile_L.jpg");}
#M{background: url("img/Scrabble_Tiles/Scrabble_Tile_M.jpg");}
#N{background: url("img/Scrabble_Tiles/Scrabble_Tile_N.jpg");}
#O{background: url("img/Scrabble_Tiles/Scrabble_Tile_O.jpg");}
#P{background: url("img/Scrabble_Tiles/Scrabble_Tile_P.jpg");}
#Q{background: url("img/Scrabble_Tiles/Scrabble_Tile_Q.jpg");}
#R{background: url("img/Scrabble_Tiles/Scrabble_Tile_R.jpg");}
#S{background: url("img/Scrabble_Tiles/Scrabble_Tile_S.jpg");}
#T{background: url("img/Scrabble_Tiles/Scrabble_Tile_T.jpg");}
#U{background: url("img/Scrabble_Tiles/Scrabble_Tile_U.jpg");}
#V{background: url("img/Scrabble_Tiles/Scrabble_Tile_V.jpg");}
#W{background: url("img/Scrabble_Tiles/Scrabble_Tile_W.jpg");}
#X{background: url("img/Scrabble_Tiles/Scrabble_Tile_X.jpg");}
#Y{background: url("img/Scrabble_Tiles/Scrabble_Tile_Y.jpg");}
#Z{background: url("img/Scrabble_Tiles/Scrabble_Tile_Z.jpg");}
#_{background: url("img/Scrabble_Tiles/Scrabble_Tile_Blank.jpg");}
