/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *	http://www.mohi.me
 * 	@mohiuddinparekh   
 */
body{
	margin:0;
	padding:0;
}
#home { 
	background: url(img/datsun.jpg) 50% 0 no-repeat fixed;
	background-size:  	100% 100%;
	height: 700px;  
	/*margin: 0 auto; */ 
    width: 100%; 
    max-width: 100%; 
    position: relative; 
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

#about { 
	/*background: url(img/sfsa.jpg) 50% 0 no-repeat fixed;
	*/
	font-family: Arial;
	background-color: #191934;
	height: 700px;
	/*margin: 0 auto; 
    width: 100%; 
    max-width: 100%;*/ 
    position: relative; 
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}


#about .h{ 
font-size: 110px; 
padding-top: 8%;
	color: white;
  	top: 530px !important;

  	text-align: center; 
}

#about p{ 
	color: white;
text-align: center;
padding: 40px 30%;
font-size:25px;
}


#Sec3{ 
	background: url(img/fo.jpg) 50% 0 no-repeat fixed;
	background-size: 100% 100%;
	/*background-color: green;*/
	height: 700px;
	/*margin: 0 auto; */
    width: 100%; 
    max-width: 100%; 
    position: relative; 
}
#Sec4{ 
	background-color: #8FB28F;
	height: 800px;
	/*margin: 0 auto; */
    width: 100%;  
    position: relative; 

}
#Sec5{ 
	background: url(img/oc.jpg) 50% 0 no-repeat fixed;
	background-size:  	100% 100%;
	/*background-color: green;*/
	height: 500px;
	/*margin: 0 auto; */
    width: 100%; 
    max-width: 100%; 
    position: relative; 
}

/* Introduction 

#home article { background: url("../images/intro.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }
*/



