.bx1{ 
/*width: 700px;
/padding: 15px;
border: 25px solid white;
*/margin: 20%;
}

#text1{ 
color: white ; font-size:850% ; font-family: Arial ; text-align: center;
}
.name{ 
font-family: Arial;
text-align: center; 
color: white;
 font-size:260%;
}
p{ 
z-index: 5 ; 
}
h3 {
color:white ;
text-align: center ;
font-family: Arial ;
} 
/************** RESPONSIVE MENUE ****************/
nav a { 
text-align: center;
display: inline-block;
padding-left: 15px;
padding-right: 15px;
}
nav a#pull {
    display: none;
}       
nav{ 
position: relative;
text-align: center;
background-color:black;
opacity: 0.8;
width: 100%;
padding: 10px ;
/*position: fixed;*/
}
@media screen and (max-width: 600px) {
    nav { 
        height: auto;
    }
    nav ul {
        width: 80%;
        /*display: block;
        */height: auto;
    }
    nav li {
        width: 50%;     
        /*float: left;*/
    }
    nav li a {
        border-bottom: 1px solid #576979;
    }
    nav a {
        text-align: center;
        width: 100%;
        margin-left: -15px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav li:last-child a {
    border-bottom: 0;
    mar: -5px 
      }
    #text1{ 
      font-size:150% ; 
      }
}
@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        width: 80%;
        position: relative;
        text-align: left;
        padding-left: 50px;
            }
    nav a#pull:after {
        content:"";
        background: url('img/nav-icon.png') no-repeat;
        width: 20px;
        height: 20px;
        font-size: 50% !important;
        display: inline-block;
        position: absolute;
        text-align: left;
        right: 20px;
        top: 8px;
    }
}
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #576979;
    }
}      
ul {
list-style-type: none;
margin: 0px;
}
li {
display: inline;
}
a{ text-decoration: none ; color: white; font-size: 100% ; font-family: Arial; }
a:hover { color: hsl(200, 100%, 50%) ;  }
a:active { color: hsl(200, 100%, 50%) ; } 
.mainFooter{ 
width: 100% ; 
background-color: black; 
clear:both;              
text-align:center; 
padding: 6px ;
margin-top: 5% ;       
opacity: .8 ; 
}   