h1{ 
    padding: .5px .5px ;
    color: #78C0A8 ;
    font-family: Arial ;
    text-align:  ;
}
#frm{
    color: grey ;
    font-family: Arial ;
    font-size: .8em ;
}
.contact{
    text-indent: 1em;
    color: grey;
    font-family: Arial ;
    font-size: .8em;
}
#em, #phn{
    width: 1.3%;
    height: 1.3%;
    vertical-align: middle;
    opacity: 0.8;
}
#sendbutton{
    color: white;
    background: #78C0A8;
    font-weight: bold;
    border: 1px solid #78C0A8;
}
#sendbutton:hover {
    color: #FFF;
    background: #900;
}
