.carousel-control.left, 
.carousel-control.right {
    background-image: none
}
@media ( max-width: 640px){ 

	#mapfont{
	font-size:30px;
	}
}
#mapfont{ 
 color:white; 
 font-size:45px; 
 font-family: "Times New Roman";
 text-align:center; 
 padding-top:3%;
	@media ( max-width: 640px){ 

		font-size:15px;
		
	}
 
 } 
#map-canvas {
	width: 100%;
	height: 300px;
	position: absolute;
	top:25%;
	transform: transform(-50%);
}
#mapbackground{ 
	background:url('img/docs/roomb.jpg') fixed;
	 /*background-image: url('img/docs/room.jpg') fixed;*/
	 position: relative;
	 width: 100%;
	 height: 600px;
	 /*background-attachment: fixed; */
	 background-position: center; 
}

#Abt { 
background-color: #96CEBB;
padding: 20px 20px;
text-align: center;
}
.cen{ 
text-align: center;
}
#Services { 
background-color: #EEF1F6;
padding: 55px 55px;
}
a { 
color: #78C0A8 ; 
}
.space { 
margin-top: 50px;
}
#ScrolingPics{
height:80%;
}
#nav {
font-size: 10%;
position: fixed;
z-index: 1;
top: 0;
width: 100%;
color: #ffffff;
height: 40px;
text-align: center;
padding-top: 8px;
 Adds shadow to the bottom of the bar 
-webkit-box-shadow: 0px 0px 8px 0px #fff;
-moz-box-shadow: 0px 0px 8px 0px #fff;
box-shadow: 0px 0px 8px 0px #fff;
/* Adds the transparent background */
background-color: rgba(255, 255, 255, 1);
color: rgba(1, 1, 1, 0.8);*/
}
#nav a {
font-size: 17px;
padding-left: 15px;
padding-right: 15px;
color: #78C0A8;
text-decoration: none;
}
#nav a:hover {
color: grey;
} 
.nav-tabs > a:hover { 

background-color: red; 
}
.h1s {

    /*padding: .5px .5px ;*/
    color: #78C0A8;
    font-family: Arial ;
    /*text-alig`n:  ;*/
    font-size: 3em;
}
#frm{
    color: grey ;
    font-family: Arial ;
    font-size: 1em ;
}
.contact{
    /*text-indent: 1em;*/
    color: grey;
    font-family: Arial ;
    font-size: 1em;
}
#em, #phn{
    width: 3.7%;
    height: 3.7%;
    vertical-align: middle;
    opacity: 0.8;
}
#sendbutton{
    color: white;
    background: #78C0A8;
    font-weight: bold;
    border: 5px solid #78C0A8;
}
#sendbutton:hover {
    color: #FFF;
    background: #900;
}
