/*nav.page-navigation {
    width: 150px;
    background-color: #ebebeb;
    position: fixed;
    top:0%;
 
}
nav.page-navigation li {
    width: 100%;
}
nav.page-navigation a {
    padding: 0.6em 10%;
    width: 80%;
}

ul li{
 display: inline-block;
   position: fixed; 

}
*/
.navbar {
    background-color:#CAE6DD;
    text-align: center !important;
    
}

/*
li .active {
   background-color:#EDF7F4 !important;
}
*/


.nav-tabs, .nav-pills, nav, navbar-nav{
    text-align: center;
}

h1{
    /*padding: .5px .5px ;*/ 
    color: #78C0A8 ;
    font-family: Arial ;
    /*text-align:  ;*/
    font-size: 25px;
}
#frm{
    color: grey ;
    font-family: Arial ;
    font-size: 1em ;
}
.contact{
    /*text-indent: 1em;*/
    color: grey;
    font-family: Arial ;
    font-size: 1em;
}

#em, #phn{
    width: 5%;
    height: 5%;
    vertical-align: middle;
    opacity: 0.8;
}
#sendbutton{
    color: white;
    background: #78C0A8;
    font-weight: bold;
    border: 5px solid #78C0A8;
}
#sendbutton:hover {
    color: #FFF;
    background: #900;
}
